# Gradle files
.gradle/
build/
.externalNativeBuild/
.cxx/
output-metadata.json

# Local configuration
local.properties

# Android Studio & IntelliJ
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Mac OS
.DS_Store

# Captures and profiling
captures/
*.hprof

# Keystore
*.jks
*.keystore

# Logs
*.log

# Google Services
google-services.json

# APKs
*.apk
